[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
social-auth-app-django = "*"
python-social-auth = {extras = ["django"], version = "*"}
folium = "*"
psycopg2 = "*"
django-floppyforms = "*"
gunicorn = "*"
django-heroku = "*"
whitenoise = "*"

[dev-packages]

[requires]
python_version = "3.6"
