{% extends "home/layout.html" %}
{% load static %}

{% block styles %}
{% endblock %}

{% block title %}
    Memory detail
{% endblock %}

{% block body %}
    <!-- <div class="container-fluid">
            <div class="d-grid col-lg-6 float-right">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title text-info">{{memory.name}}</h3>
                        <h6 class="card-subtitle mb-2 text-muted">{{memory.timestamp}}</h6>
                        <p class="card-text text-dark">{{memory.comment}}</p>
                    </div>                    
                </div>
            </div>
            <div class="d-grid col-lg-6 float-left">
                {{map|safe}}
            </div>
    </div> -->
    <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
                <!-- <div class="d-grid col-lg-6 float-left"> -->
                    {{map|safe}}
                <!-- </div> -->
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
                <h3 class="card-title text-info">{{memory.name}}</h3>
                <h6 class="card-subtitle mb-2 text-muted">{{memory.timestamp}}</h6>
                <p class="card-text text-dark">{{memory.comment}}</p>
            </div>
          </div>
        </div>
      </div>
{% endblock %}

{% block scripts %}
{% endblock %}